.result {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 24px;
  box-shadow: 0 30px 60px 0 rgba(61, 108, 236, 0.15);
  background-image: linear-gradient(to bottom, #75f, #6943ff, #2f2ce9);
  border-radius: 0 0 32px 32px;
}

.your-result {
  font-size: 18px;
  color: #cac9ff;
}

.oval {
  width: 140px;
  height: 140px;
  background-image: linear-gradient(
    to bottom,
    #4d21c9,
    rgba(63, 33, 201, 0.64) 33%,
    rgba(37, 33, 201, 0) 67%,
    rgba(37, 33, 201, 0) 67%
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.some {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.29;
  color: #fff;
}

.all {
  opacity: 0.52;
  font-weight: bold;
  color: #cac9ff;
}

.performance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.message {
  font-weight: 500;
  text-align: center;
  color: #cac9ff;
}

@media screen and (min-width: 1440px) {
  .result {
    width: 368px;
    border-radius: 32px;
    padding: 38px 54px 46px;
    gap: 33px;
  }

  .your-result {
    font-size: 24px;
  }

  .some {
    font-size: 72px;
  }

  .all {
    font-size: 18px;
  }

  .oval {
    width: 200px;
    height: 200px;
  }

  .text {
    font-size: 32px;
  }

  .message {
    font-size: 18px;
  }
}
